[run]
branch = True
parallel = True
source = .
data_file = /coverage/.coverage.order_service
omit =
    */migrate.py
    */migrations/*

[report]
show_missing = True
skip_empty = True

[paths]
source =
    .
    /app
    /Users/charankamarapu/microservices/order_service
