apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  ports:
  - port: 8081
    targetPort: 8081
  selector:
    app: product-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
      - name: product-service
        image: product-service:latest
        imagePullPolicy: Never
        env:
        - name: DB_HOST
          value: "mysql-products"
        - name: DB_USER
          value: "user"
        - name: DB_PASSWORD
          value: "password"
        - name: DB_NAME
          value: "product_db"
        - name: FLASK_RUN_PORT
          value: "8081"
        ports:
        - containerPort: 8081
