apiVersion: v1
kind: Service
metadata:
  name: user-service
spec:
  ports:
  - port: 8082
    targetPort: 8082
  selector:
    app: user-service
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
spec:
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: user-service:latest
        imagePullPolicy: Never
        env:
        - name: DB_HOST
          value: "mysql-users"
        - name: DB_USER
          value: "user"
        - name: DB_PASSWORD
          value: "password"
        - name: DB_NAME
          value: "user_db"
        - name: FLASK_RUN_PORT
          value: "8082"
        - name: ADMIN_USERNAME
          value: "admin"
        - name: ADMIN_EMAIL
          value: "admin@example.com"
        - name: ADMIN_PASSWORD
          value: "admin123"
        - name: RESET_ADMIN_PASSWORD
          value: "true"
        - name: JWT_SECRET
          value: "dev-secret-change-me"
        ports:
        - containerPort: 8082
